<div class="row mt-5 mb-2">
    <div class="col">
        <h1>{{ title }}</h1>
    </div>
    <div class="col text-right">
        <a class="btn btn-success my-2 my-sm-0" routerLink="/add-student" *ngIf="buttons.add">Hozzáadás</a>
        <a class="btn btn-outline-primary my-2 my-sm-0" routerLink="/students" *ngIf="buttons.back">Vissza</a>
    </div>
</div>
