<div class="container">
    <app-header [title]="'Hallgatói nyilvántartás ('+ students.length +' db)'" [buttons]="{ add: true }"></app-header>
    <!-- Table -->
    <input type="text" class="form-control mb-3" placeholder="Keresés" [(ngModel)]="searchTerm">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th scope="col">Név</th>
                <th scope="col">E-mail cím</th>
                <th scope="col">Életkor</th>
                <th scope="col">Nem</th>
                <th>Könyvek száma</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="! isLoading && students.length == 0 && searchTerm == ''">
                <td colspan="6" class="text-center">Nincs hallgató az adatbázisban.</td>
            </tr>
            <tr *ngIf="! isLoading && (students | studentSearch : searchTerm).length == 0 && searchTerm != ''">
                <td colspan="6" class="text-center">Nincs a keresésnek megfelelő hallgató.</td>
            </tr>
            <tr app-student-row *ngFor="let s of students | studentSearch : searchTerm" [student]="s" (refresh)="refreshStudents($event)">
            </tr>
        </tbody>
    </table>
    <h2 class="text-center" *ngIf="isLoading">Betöltés...</h2>
</div>
