<div class="container">
    <app-header [title]="'Hallgató hozzáadása'" [buttons]="{ back: true }"></app-header>

    <div class="form-group">
        <label for="exampleInputName">Név</label>
        <input type="name" class="form-control" id="exampleInputName" [(ngModel)]="student.name" [ngClass]="{ 'is-invalid' : errors.includes('not-valid-name') }">
        <div class="invalid-feedback">Kérlek, add meg a neved!</div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">E-mail cím</label>
        <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="student.email" [ngClass]="{ 'is-invalid' : errors.includes('not-valid-email') }">
        <div class="invalid-feedback">Kérlek, add meg az e-mail címed!</div>
    </div>
    <div class="form-group">
        <label for="exampleInputAge">Életkor</label>
        <input type="age" class="form-control" id="exampleInputAge" [(ngModel)]="student.age" [ngClass]="{ 'is-invalid' : errors.includes('not-valid-age') }">
        <div class="invalid-feedback">Kérlek, csak számokat adj meg!</div>
    </div>
    <div class="form-group">
        <label for="exampleInputGender">Nem</label>
        <select class="custom-select my-1 mr-sm-2" id="exampleInputGender" [(ngModel)]="student.gender" [ngClass]="{ 'is-invalid' : errors.includes('not-valid-gender') }">
            <option *ngFor="let g of genders" value="{{ g.key }}">{{ g.value | gender }}</option>
        </select>
    </div>
    <button type="button" class="btn btn-success add-button" (click)="submit()">Hozzáadás</button>
</div>
