<div class="container" *ngIf="student">
    <app-header [title]="student.name + ' könyvei'" [buttons]="{ back: true }"></app-header>
    <div class="row">
        <div class="col col-md-6" *ngFor="let b of student.books">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{{ b.author }}: {{ b.title }}</h5>
                    <p class="card-text">{{ b.subtitle }}</p>
                    <a [href]="b.website" target="_blank" class="btn btn-secondary">Tovább</a>
                </div>
            </div>
        </div>
    </div>
</div>
