<div class="modal-header">
    <h4 class="modal-title">Hallgató szerkesztése</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <div class="alert alert-danger" role="alert" *ngIf="showNetworkAlert">
        A hallgató mentése nem sikerült, próbáld újra később.
    </div>
    <div class="form-group">
        <label for="exampleInputName">Név</label>
        <input type="text" class="form-control" id="exampleInputName" [(ngModel)]="student.name" [ngClass]="{ 'is-invalid' : ! isNameValid() }">
        <div class="invalid-feedback">Kérlek, add meg a neved!</div>
    </div>
    <div class="form-group">
        <label for="exampleInputEmail1">E-mail cím</label>
        <input type="email" class="form-control" id="exampleInputEmail1" [(ngModel)]="student.email" [ngClass]="{ 'is-invalid' : ! isEmailValid() }">
        <div class="invalid-feedback">Kérlek, add meg az e-mail címed!</div>
    </div>
    <div class="form-group">
        <label for="exampleInputAge">Életkor</label>
        <input type="text" class="form-control" id="exampleInputAge" [(ngModel)]="student.age" [ngClass]="{ 'is-invalid' : ! isAgeValid() }">
        <div class="invalid-feedback">Kérlek, csak számokat adj meg!</div>
    </div>
    <div class="form-group">
        <label for="exampleInputGender">Nem</label>
        <select class="custom-select my-1 mr-sm-2" id="exampleInputGender" [(ngModel)]="student.gender">
            <option *ngFor="let g of genders" value="{{ g.key }}">{{ g.value | gender }}</option>
        </select>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-primary" (click)="save()">Mentés</button>
</div>
